@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');



.imge{
    box-shadow: 13px 10px #ff0000;
}

.aboutt{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    position: relative;
}
.aboutsec{
    max-width: 1353px;
}
.iconss{
    max-width: 1353px;
}
/* .aboutt::after{
    content: '';
    width: 320px;
    height: 5px;
    background: #ff0000 ;
    position: absolute;
    top: 100%;
    left: 340px;

} */
.usersicon{
    width: 80px;
    height: 80px;
}