.vido{
    max-width: 515px;
    box-shadow: 13px 10px #ff0000;

}
.herosec{
    max-width: 1353px ;
}
.getbtn{
    background-color: #ff0000 ;
}
.watchbtn{
    background-color: none ;
    border: 2px solid black;
    box-shadow: 8px 7px #ff0000  ;

}
.herotxt{
    color: black;
    font-family: 'Inter',sans-serif;
    font-size: 70px;
    line-height: 90px;
    font-weight: 700;
}
.herotxt span{
    color: #ff0000;
    font-weight: 600;

}
.txth4{
    color: #ff0000;
    font-weight: 500;
     font-family: 'Inter',sans-serif;

}
.txtp{
    font-weight: 400;
    font-family: 'Inter',sans-serif;

}






@media screen and (max-width: 414px) and (min-width: 375px)
{

        .bbtn{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    .watchbtn{
        padding: 10px 30px;
    }
    .getbtn{
        padding: 10px 30px;
    }

    .herosec{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .herotxt{
        font-size: 60px;
    }
}












@media screen and (max-width: 770px) and (min-width : 768px){
    .vido{
        max-width: 350px;
    }
    .herotxt{
        font-size: 35px;
        width: 100%;
        line-height: 50px;
    }
    .bbtn{
        width: 100%;
    }
    .getbtn , .watchbtn{
        /* padding: 10px 50px; */
        font-size: 10px;
    }

}

@media only screen and (max-width: 434px){
    .vido{
        display: none;
    }
}